<div style="border: 1px solid black;">
    <h1>Job Title</h1>
    <h4>Employeer/Company</h4>
    <p>
        Job Description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sagittis porta tristique. 
        Duis lacinia nunc porta nisi imperdiet cursus. Fusce facilisis congue lorem, a posuere eros fermentum a. 
        Nunc a sem eu odio eleifend consequat non in quam. Nunc id leo eget erat laoreet ultricies. Mauris finibus eleifend vestibulum. 
        Quisque accumsan mollis sapien, ut molestie nunc ullamcorper eget. Pellentesque accumsan nunc bibendum, egestas lectus sed, sodales massa.
    </p>

    <p>Salary:</p>
    <p>Job Type: </p>
    <p>Minimum Education:</p>


    
</div>
