<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="headerInfo">
        <h1>
            {{job?.title}}
            <a mat-raised-button color="primary" href="{{job?.url}}">Apply</a>
        </h1>
        <h4>{{job?.employer?.name}}</h4>
</div>

<div class="jobDesc">
    <p [innerHTML]=job?.description [ngClass]="{'hideDescription': hideDescription}">
    </p>
    <button (click)="toggleDescription()" mat-raised-button color="accent">
        {{hideDescription ? 'More Info' : 'Less Info'}}
    </button>
</div>

<div class="googleMap" *ngIf="showMap">
    <h1><button mat-raised-button color="accent">Open In Google Maps</button> Address: {{destination}} </h1>
    <agm-map [latitude]="lat" [longitude]="lng" [zoom]="16">
        <agm-direction [origin]="origin" [destination]="destination"></agm-direction>
    </agm-map>
</div>

<div>
    <p>Salary: {{job?.pay_rate}}</p>
    <p>Job Type: {{job?.employer?.category}}</p>
    <p>Minimum Education:</p>
</div>



