.container {
    padding: 10px;
}
.splash {
    text-align: center;
}
img {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

mat-spinner {
	margin-left: auto;
	margin-right: auto;
}

.fill-remaining-space {
    flex: 1 1 auto;
}