@import '../../styles.scss';




.userLocation {
	text-align: center;
}
button {
	width:80%;
}
  
.locationInput {
  width: 80%;
}

input[placeholder] {
	color:#000;
}

p,input{
	color:$dark-blue;
}
button,.mat-raised-button{
	background-color:$dark-blue;
}